/* * {
  margin: 0;
  padding: 0;
  --size-padding: 5px;
  --size-margin: 10px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  margin-right: 10px;
}

.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.logotitle {
  font-size: 20px;
  font-weight: 600;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  margin: 10px;
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.home__avatar {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  margin-bottom: 10px;
}

.home__description {
  margin-bottom: 10px;
} */
